# Dart / Flutter
.dart_tool/
.flutter-plugins-dependencies
.packages
.pub-cache/
.build/
.metadata

# Flutter build output
build/
windows/
web/
android/
ios/

# IDE ayar dosyaları
.idea/
.vscode/
*.iml
*.swp

# Ortam dosyaları
.env
.env.*

# Sertifikalar
*.keystore
*.jks

# Node.js
node_modules/

# Log dosyaları
*.log
firebase-debug.log

# Test kapsamı
coverage/

# Python sanal ortam
venv/

# Backend klasörü (eğer ayrıysa ve takip edilmemesi gerekiyorsa)
backend/
